name: CI/CD

on:
  push:
    branches: [main]

  workflow_dispatch:

env:
  DIST_FOLDER: website
  
jobs:
  ci:
    name: CI, Lint, Unit Tests and Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "16.17.1"
      - uses: pnpm/action-setup@v2
        with:
          version: 8.6.12   
      - run: pnpm install
      - run: pnpm run generate
      - uses: actions/upload-artifact@v2
        with:
          name: ${{ env.DIST_FOLDER }}
          path: src/dist
          if-no-files-found: error

  cd:
    runs-on: ubuntu-latest
    needs: ci
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: dist
          path: dist
      - uses: Azure/static-web-apps-deploy@v1
        with:
          skip_app_build: true
          app_location: dist
          action: upload
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_APP_DEPLOYMENT_TOKEN }}
